{{define "our_advantages"}}
<div class="container advantages">
    <h3 class="text-center strong">НАШИ ПРЕИМУЩЕСТВА</h3>
    <div class="row">
        {{range ourAdvantages}}
            <div class="col-sm-6 col-md-4 text-center">
                <h4 class="text-danger strong">{{.Title}}</h4>
                <div class="description">
                    {{noescape .Description}}
                </div>
            </div>
        {{end}}
    </div>
</div>
{{end}}